{% extends 'base.html' %}

{% block body %}
    <div style="margin-top: 100px;">
        {% for user in users %}
            {% include './partials/user_settings_partial.html' with user=user %}
        {% endfor %}
    </div>

    <a href="{% url 'new_user' %}">
        <button class="mdc-fab material-icons"
                aria-label="add"
                data-mdc-auto-init="MDCRipple"
                style="position: fixed;
                        right: 25px;
                        bottom: 25px;
                        background: #158CAF;">
            <span class="mdc-fab__icon">
                add
            </span>
        </button>
    </a>

    <script>
        // Toggle card expansion function
        function toggleCardExpansion(e) {
            // Get the given card and its toggle icon
            var card = e.parentNode;
            var toggleIcon = card.querySelector('#toggle-icon');

            // Construct array of elements to expand or minimize
            var expandableElements = [
                card.querySelector('#card-title-minimized'),
                card.querySelector('#card-title-expanded'),
                card.querySelector('#profile-div'),
                card.querySelector('#vacation-policy-div'),
                card.querySelector('#update-button-div')
            ]

            // Toggle the visiblity of all expandable elements
            for (i = 0; i < expandableElements.length; i++) {
                toggleElementDisplay(expandableElements[i]);
            }

            // Toggle the expandable div icon
            if (toggleIcon.innerHTML == 'expand_more') {
                toggleIcon.innerHTML = 'expand_less';
            } else {
                toggleIcon.innerHTML = 'expand_more';
            }

            // Toggle read only attribute of editable fields
            var annualAccrualDays = card.querySelector('#annual-accrual-days');
            var maxAllowableAccrualDays = card.querySelector('#max-allowable-accrual-days');
            annualAccrualDays.readOnly = !annualAccrualDays.readOnly;
            maxAllowableAccrualDays.readOnly = !maxAllowableAccrualDays.readOnly;
        };

        function toggleElementDisplay(element) {
            if (element.style.display == 'none') {
                element.style.display = 'block';
            } else {
                element.style.display = 'none';
            }
        };


        function updateUserSettings(e) {
            // Get form fields
            var form = e.parentNode.parentNode;
            var card = form.parentNode;
            var firstName = card.querySelector('#first-name');
            var lastName = card.querySelector('#last-name');
            var annualAccrualDays = card.querySelector('#annual-accrual-days');
            var maxAllowableAccrualDays = card.querySelector('max-allowable-accrual-days');

            form.submit();
        };
    </script>
{% endblock %}
