/* Overwrite default Google Material Design Components color schemes */
:root {
    --mdc-theme-primary: #158CAF;
}

/* Allows for children to be vertically centered */
html, body {
    height: 97.5%;
}

/* Add pretty light gray background */
body {
    background: #FAFAFA;
}

/* Menu icon size */
.mdc-toolbar__menu-icon {
    font-size: 22px;
}

/* Remove box shadow on icon click */
#menu-button:active,
#menu-button:focus,
#menu-button.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Centers the login box vertically and horizontally */
.login-box {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Custom CSS for Django messsages classes */
.success {
    color: #158CAF;
}

.warning {
    color: #9F6000;
}

.error {
    color: #CC0000;
}

/* Column layout CSS for scheduler */
.column {
    margin: auto;
    margin-top: 35px;
}

/* Use screen width to determine how to correctly position columns evenly */

/* Desktop-sized screens */
@media screen and (min-width: 1450px) {
    /* Left column takes up 33% */
    .left {
        position: absolute;
        left: 10%;
        right: 57%;
    }

    /* Right column takes up 67% */
    .right {
        position: absolute;
        left: 52%;
        right: 7%;
        text-align: center;
    }
}

/* Laptop-sized screens */
@media screen and (min-width: 900px) and (max-width: 1450px) {
    /* Left column takes up 33% */
    .left {
        position: absolute;
        left: 5%;
        right: 62%;
    }

    /* Right column takes up 67% */
    .right {
        position: absolute;
        left: 43%;
        right: 5%;
        text-align: center;
    }
}

/* Tablet-sized screens */
@media screen and (min-width: 450px) and (max-width: 900px) {
    /* Left column stacked on top */
    .left {
        width: 80%;
    }

    /* Right column stacked on bottom */
    .right {
        width: 80%;
        text-align: center;
    }
}

/* Smartphone-sized screens */
@media screen and (max-width: 450px) {
    /* Left column stacked on top */
    .left {
        width: 95%;
    }

    /* Right column stacked on bottom */
    .right {
        width: 95%;
        text-align: center;
    }
}

/* Date picker dropdown arrow color */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #158CAF;
}

/* Hide delete icon until hovered over or clicked on using 0.15s transition */
#delete-icon-div {
    right: 5%; 
    top: 27.5%;
    position: absolute;
    color: inherit;
}

#delete-icon {    
    opacity: 0;   
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    -ms-transition: 0.15s;
    transition: 0.15s;
}

#delete-icon-div:hover #delete-icon {
    opacity: 0.5;
    cursor: pointer;
}

#delete-icon-div:active #delete-icon {
    opacity: 0.75;
    cursor: pointer;
}
